[Unit]
Description="HashiCorp Consul - A service mesh solution"
Documentation=https://www.consul.io/
After=network-online.target
Requires=network-online.target
Wants=network-online.target

[Service]
AmbientCapabilities=CAP_NET_BIND_SERVICE
ExecStart=/usr/bin/consul agent \
  -config-dir /etc/consul.d/node.d \
  -config-dir /etc/consul.d/service.d \
  -config-dir /etc/consul.d/acl.d
ExecReload=/usr/bin/consul reload
ExecStop=/usr/bin/consul leave
KillMode=process
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target