#!/usr/bin/env bash

{{ ansible_managed | comment }}

set -e

# Setup
mount_dir=$(mktemp -d)
sudo mount -t nfs {{ backup_server }}:{{ backup_share_path|replace(" ", "\ ") }} ${mount_dir}

# Backup the data
rsync -rlt --partial --delete {{ backup_source }}/* "${mount_dir}{{backup_path_prefix}}"

# Remove backups older than 14 days
current_time=$(date +%s)
find "${mount_dir}{{backup_path_prefix}}" -type f -name 'etcd-snapshot-*' | while read -r file; do
    # Extract the timestamp from the file name
    timestamp=$(basename "$file" | sed -E 's/etcd-snapshot-[^-]+-([0-9]+)/\1/')
    # Calculate the age of the backup
    if (( current_time - timestamp > 14 * 24 * 60 * 60 )); then
        echo "Deleting file due to age: $file"
        rm -f "$file"
    fi
done

# Clean Up
umount "${mount_dir}"
rmdir "${mount_dir}"

# Update Backup Timestamp Metric
echo k3s_etcd_backup_completed $(date +%s) > /var/lib/node_exporter/k3s_etcd_backup.prom.$$
mv /var/lib/node_exporter/k3s_etcd_backup.prom.$$ /var/lib/node_exporter/k3s_etcd_backup.prom
