#!/usr/bin/env bash

{{ ansible_managed | comment }}

set -e

ha backup new --name $(date --rfc-3339=second)

# Update Backup Timestamp Metric
echo home_assistant_backup_completed $(date +%s) > /var/lib/node_exporter/home_assistant_backup.prom.$$
mv /var/lib/node_exporter/home_assistant_backup.prom.$$ /var/lib/node_exporter/home_assistant_backup.prom
