{{ ansible_managed | comment }}

Unattended-Upgrade::Allowed-Origins {
    "${distro_id}:${distro_codename}";
    "${distro_id}:${distro_codename}-security";
    "${distro_id}ESMApps:${distro_codename}-apps-security";
    "${distro_id}ESM:${distro_codename}-infra-security";
    "${distro_id}:${distro_codename}-updates";
};

// Enable kernel updates
Unattended-Upgrade::Package-Whitelist {
    "linux-generic";
    "linux-headers-generic";
    "linux-image-generic";
};

// Automatically remove unused kernel packages
Unattended-Upgrade::Remove-Unused-Kernel-Packages "true";

// Automatically remove unused dependencies
Unattended-Upgrade::Remove-Unused-Dependencies "true";

// Keep 1 previous kernel version as a backup
Unattended-Upgrade::Keep-Kernels 1;

// Enable automatic reboots after updates when needed
// However, we do not do this for K3s nodes, as Kured
// Reboots those nodes
Unattended-Upgrade::Automatic-Reboot "{{ "k3s" not in tags }}";

// Added safety measures
Unattended-Upgrade::MinimalSteps "true";
Unattended-Upgrade::InstallOnShutdown "false";