{{ ansible_managed | comment }}
MONITOR {{ upsmon_ups_name }} 1 {{ upsmon_usp_user }} {{ upsmon_ups_password }} secondary

MINSUPPLIES 1
SHUTDOWNCMD "/sbin/ups-shutdown"
POLLFREQ 5
POLLFREQALERT 5
HOSTSYNC 15
DEADTIME 15
POWERDOWNFLAG /etc/killpower
RBWARNTIME 43200
NOCOMMWARNTIME 600
FINALDELAY 5
