{{ ansible_managed | comment }}
MONITOR {{ upsmon_ups_name }} 1 {{ ups_monuser }} {{ ups_monuser_password }} secondary

MINSUPPLIES 1
POLLFREQ 5
POLLFREQALERT 5

{% if upssched_enabled %}
NOTIFYCMD /usr/sbin/upssched
NOTIFYFLAG ONBATT SYSLOG+EXEC
NOTIFYFLAG LOWBATT SYSLOG+EXEC
NOTIFYFLAG ONLINE SYSLOG+EXEC
NOTIFYFLAG COMMBAD SYSLOG+EXEC
NOTIFYFLAG COMMOK SYSLOG+EXEC
NOTIFYFLAG REPLBATT SYSLOG+EXEC
NOTIFYFLAG NOCOMM SYSLOG+EXEC
NOTIFYFLAG FSD SYSLOG+EXEC
NOTIFYFLAG SHUTDOWN SYSLOG+EXEC
{% endif %}
SHUTDOWNCMD "/sbin/ups-shutdown"
POWERDOWNFLAG /etc/killpower
RBWARNTIME 43200
HOSTSYNC 15
DEADTIME 15
NOCOMMWARNTIME 900
FINALDELAY 5

RUN_AS_USER nut