(common) {
  prometheus 0.0.0.0:9253
  errors
}

. {
  import common

  template IN ANY unifi {
    match "^unifi\.$"
    answer "unifi. 60 IN CNAME unifi-controller.brickyard.whitestar.systems"
  }

  hosts {
    10.0.10.16 home.whitestar.systems
    fallthrough
  }

  chaos CoreDNS-{{ coredns_version[1:] }}-{{ now(fmt='%Y-%m-%d') }} tom@tompaulus.com

  forward . 127.0.0.1:5301 127.0.0.1:5302 {
    policy sequential  # Forces Cloudflare as a backup, not round-robin
    health_check 5s
  }
}

.:5302 {  # Fallback Upstreams
  bind lo0
  forward . tls://172.64.36.1 tls://172.64.36.2 {
     tls_servername {{ cloudflare_gateway_location }}.cloudflare-gateway.com
     health_check 5s
  }
}
