#!/bin/sh
#
# $FreeBSD$
#
# PROVIDE: grimd
# REQUIRE: NETWORKING SYSLOG
# KEYWORD: shutdown
#
# Add the following lines to /etc/rc.conf to enable grimd:
#
#grimd_enable="YES"

. /etc/rc.subr

name="grimd"
rcvar="grimd_enable"

load_rc_config $name

: ${grimd_user:="root"}
: ${grimd_enable:="NO"}
: ${grimd_directory:="/etc/grimd"}

configfile="${grimd_directory}/grimd.toml"

command="/usr/local/sbin/grimd -update -config ${configfile}"

pidfile="${grimd_directory}/${name}.pid"

start_cmd="export USER=${grimd_user}; export HOME=${grimd_directory}; /usr/sbin/daemon -f -u ${grimd_user} -p ${pidfile} $command"

#stop_cmd="kill $(cat $pidfile)"
stop_cmd="${name}_stop"
grimd_stop() {
	if [ ! -f $pidfile ]; then
		echo "grimd PID File not found. Maybe grimd is not running?"
	else
		kill $(cat $pidfile)
	fi
}

run_rc_command "$1"